/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Define color variables */
:root {
  --color-primary: #28394d80;
  --color-secondary: #2a2f3580;
  --color-background: aliceblue;
  --color-border: #c0e3c2;
  --color-text: gray;
  --color-hover: black;
  --color-shadow: #0000001a;
}

body {
  display: flex;
  border-radius: 10px;
  min-width: 800px;
  align-items: center;
  padding: 1px;
  overflow-x: hidden;
}

.custom-hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-hover:hover {
  background-color: var(--color-hover); /* Usar la variable de color */
  transform: scale(1.01); /* Aumenta ligeramente el tamaño */
}

/* Style sidebar L */
.sidebar-L {
  width: 16%;
  min-width: 150px;
  min-height: 99.5vh;
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 1px;
  box-shadow: 0 2px 4px var(--color-shadow);
}

.sidebar-L .btn-sidebar {
  width: 94%;
  min-width: 60px;
  height: 60px;
  margin: 5px;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-hover);
  color: var(--color-text);
  box-shadow: 0 2px 4px var(--color-shadow);
}

.btn-sidebar:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
  transform: scale(1.03);
}

.sidebar-L i {
  color: var(--color-text);
  height: 60px;
  min-width: 40px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: auto;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.file-input-container {
  text-align: center;
  margin-top: 10px;
}


/* Style container pos */
.container-ked-h {
  display: flex;
  top: 0%;
  width: 100%;
  min-width: 400px;
  height: 99.5vh;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.container_fac {/* Style container Fac para el historial de facturas */
  height: 86vh;
  margin: 3px;
}


.img-fluidcss{
  width: 40px; height: 40px; padding: 2px; margin-top: 10px;
}


.his_Scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.header-pos {
  width: 100%;
  min-width: 500px;
  height: 70px;
  display: flex;
}

.col-header {
  width: 70%;
  min-width: 200px;
  height: 40px;
}

.col-header-l {
  width: 30%;
  min-width: 300px;
  height: 40px;
}

.container-ked-v {
  top: 0%;
  width: 100%;
  min-width: 400px;
  height: 99.5vh;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  
}

.container-ked-h .productos-pos {
  width: 70%;
  min-width: 200px;
  height: 100%;
  padding: 2px;
  border-radius: 10px;
  margin-right: 2px;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  background-color: var(--color-primary);
}

.cssPos{
  display: flex; height: 88vh;
}

.card {
  width: 12rem;
  max-height: 16rem;
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
}

/* Style container-pos sidebar R */
.container-ked-h .sidebar-R {
  width: 30%;
  min-width: 300px;
  height: 100%;
  padding: 2px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px var(--color-shadow);
}

.product-container-scroll{
  width: 98%;
  height: 50%;
  background-color: var(--color-primary);
  padding: 2px;
  border-radius: 10px;
  overflow-y: scroll;
}

.product-container-scroll::-webkit-scrollbar {
  width: 0; /* Ocultar la barra de desplazamiento en navegadores webkit (Chrome, Safari, etc.) */
  background: transparent; /* Fondo transparente */
}