
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333; /* Cambio de color de fondo a negro claro */
    color: #ffffff; /* Cambio del color del texto a blanco para mejor contraste */
}

/* Estilos para el contenedor de inicio de sesión */
.login-container {
    text-align: center;
    padding: 50px;
    background-color: #ffffff; /* Cambio del color de fondo a blanco */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333333; /* Cambio del color del texto a negro */
}

.container-section {
    display: none;
}
.container-section.active {
    display: block;
}


.login-container img {
    width: 100px;
    height: 100px;
}

.form-group {
    position: relative;
    margin-top: 2rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    color: #999;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: 0;
    left: 5px;
    font-size: 12px;
    color: #333;
    transform: translateY(-50%);
}

.form-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.clickable {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.clickable:hover {
    color: #353535;
}

/* Estilos para el formulario de registro */
.registration-container {
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 50vh;
    height: 140%;
}

.registration-container img {
    width: 100px;
    height: 100px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin: 10px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#forgot-password {
    color: #888888; /* Color gris claro */
    /* Otros estilos opcionales según necesites */
    text-decoration: underline;
    cursor: pointer;
}

/* Estilo para la alerta personalizada */
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert-content {
    background-color: #353535; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert button {
    background-color: black; /* Color de botón azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.modal-content {
    background-color: #666666; /* Color negro claro */
    color: #ffffff; /* Cambia el color del texto a blanco para mejor contraste */
  }
