body {
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  display: flex;
}

.col-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
