:root {
  --color-primario: #00b393;
  --color-secundario: #005073;
  --color-resaltado: #ff7f50;
  --color-fondo: #ffffff;
  --color-texto: #333333;
  --color-acciones: #32cd32;
  --color-borde: #ccc;
}

body {
  background-color: var(--color-primario);
  color: var(--color-texto);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.login-container {
  text-align: center;
  border: 1px solid var(--color-borde);
  padding: 20px;
  border-radius: 5px;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

input, select, button {
  margin: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid var(--color-borde);
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

button {
  background-color: var(--color-acciones);
  color: var(--color-fondo);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: var(--color-primario);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-secundario);
}

.chat-button {
  position: fixed;
  height: auto; /* Se ajustará al contenido */
  width: auto; /* Se ajustará al contenido */
  bottom: 20px;
  right: 40px;
  background-color: var(--color-acciones);
  color: var(--color-fondo);
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem; /* Equivalente a 24px */
  cursor: pointer;
}

.chat-button:hover {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

