body {
    display: flex;
    background-color: black;
    /*border: 1px solid gray;*/
    border-radius: 10px;
    align-items: center;
    width: 98%;
    height: 95.5vh;
    padding: 1px;
}

/*style sidebar L*/
.sidebar-L {
    width: 10%;
    min-width: 150px;
    min-height: 95.5vh;
    background-color: #17202A;
    border-radius: 10px;
    margin-right: 1%;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.sidebar-L .btn-sidebar {
    width: 94%;
    min-width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color: grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-L i {
    color: gray;
    height: 60px;
    min-width: 40px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}



/*style container pos*/
.container-pos {
    width: 60%;
    min-width: 200px;
    height: 95.5vh;
    border-radius: 10px;
    background-color: gray;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1px;
}

/*style sidebar R*/
.sidebar-R {
    width: 28%;
    min-width: 300px;
    height: 95.5vh;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*style footer*/
.footer{
    min-width: 94%;
    position: fixed;
    bottom: 0;
    margin: 20;
}

.footer .btn-footer{
    width: 12%;
    min-width: 155px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: black;
    color: grey;
}

.footer .btn-footer i {
    color: gray;
    height: 60px;
    min-width: 40px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}